<div class="container shadow-lg bg-white rounded pb-3">
  <br>
    <h1 class="font-weight-normal text-center text-success border-bottom pb-3 mb-3">Boostez votre semaine !</h1>
    <p class="lead text-center my-5">Vous aimez Nutriti ? Vous allez adorer ses fonctionnalités avancées !</p>

    <div class="row row-cols-1 row-cols-md-3 text-center">
      <div class="col mb-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Free</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title my-4">0€ <small class="text-muted">/ mois</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li class="my-1">Prise en compte de vos préférences alimentaires</li>
              <li class="my-1">Calculs de vos besoins caloriques</li>
              <li class="my-1">Configuration de votre petit déjeuner</li>
              <li class="my-1">Générations de semaine</li>
              <li class="my-1">Des recettes adaptés à vos besoins</li>
              <li class="my-1">La liste des courses de la semaine en ligne</li>
            </ul>
            <%= link_to "Forme actuelle", root_path, class:"text-warning text-decoration-none" %>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card mb-4 shadow-lg">
          <div class="card-header bg-success">
            <h4 class="my-0 font-weight-normal text-white">Premium</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title my-4">5€ <small class="text-muted">/ mois</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li class="my-1">L'ensemble des fonctionnalités gratuites</li>
              <li class="my-1">Générations de jours</li>
              <li class="my-1">La liste des courses du jour en ligne</li>
              <li class="my-1">Générations de repas</li>
              <li class="my-1">La liste des courses du repas en ligne</li>
              <li class="my-1">Des recettes adaptés à vos besoins</li>
              <li class="my-1">La liste des courses de la semaine en ligne</li>
              <li class="my-1">La liste des courses de la semaine par mail</li>
              <li class="my-1">Prise en compte de vos objectifs</li>
              <li class="my-1">Des recettes adaptées a vos objectifs</li>
              <li class="my-1">Ajout et le retrait d'objets de la liste de courses (alimentaires ou non) (bientôt disponible)</li>
            </ul>
            <%= link_to "Devenir Premium", new_charge_path(notice: "premium"), class:"btn btn-lg btn-block btn-primary"%>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Family</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title my-4">19€ <small class="text-muted">/ mois</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li class="my-1">Jusqu'à 6 utilisateurs</li>
              <li class="my-1">L'ensemble des fonctionnalités Premuim</li>
              <li class="my-1">La gestion des besoins par personnes</li>
              <li class="my-1">La gestion du nombres de personne par repas</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-primary">Bientôt disponible</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

