<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="jumbotron jumbotron-fluid" style="background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url(https://images.pexels.com/photos/1153369/pexels-photo-1153369.jpeg?cs=srgb&dl=a-l-interieur-adulte-aliments-content-1153369.jpg&fm=jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;">
  
    <div class="container ml-5 mt-5" >
      <div class="row">
        <div class="col-1"></div>
        <div class="col-6 mt-5">
          <h1 class="display-2 text-white"> <b>Vous êtes à deux clics de bien manger</b> </h1>
          <button type="button mt-2" class="btn btn-warning btn-lg text-center">Essayer maintenant !</button>
        </div>
        <div class="col-5"></div>
      </div>
    </div>
  </div>



  <div class="container">
    <div class="row icons-container text-center">
      <div class="col-md-4">
        <div class="incon-box-2 with-line">
          <h3 class="text-color-yellow">HEY</h3>
          <i class="fas fa-lemon fa-2x fa-spin" style="color: yellow"></i>

        </div>


      </div>
      <div class="col-md-4">
        <div class="incon-box-2 with-line">
          <h3>HEY</h3>
          <i class="fas fa-carrot fa-2x fa-spin" style="color: orange"></i>

        </div>
  
      </div>
      <div class="col-md-4">
        <div class="incon-box-2 with-line">
          <h3>HEY</h3>
          <i class="fas fa-pepper-hot fa-2x fa-spin" style="color: red"></i>

        </div>
  
      </div>

    </div>
    
  </div>
  

  <div class="row icons-container text-center">
		<!-- Stage -->
		<div class="col-md-4">
			<div class="icon-box-2 with-line">
				<i class="fab fa-pied-piper-hat"></i>
				<h3>Chinez de belles matières premières, dans votre quartier</h3>
				<p>Les ravitailleurs de Kraft Market vous proposent leurs chutes et matières premières inusitées : cuir, toile de jute, papier... Nous vous proposons les plus proches de chez vous.</p>
			</div>
		</div>

		<!-- Stage -->
		<div class="col-md-4">
			<div class="icon-box-2 with-line">
				<i class="fas fa-recycle"></i>
				<h3>Devenez acteur de l'économie circulaire</h3>
				<p>Rien ne se perd, si l'on crée, tout se transforme ! Les chutes et déchets de nos ravitailleurs deviennent les matières premières de vos créations.</p>
			</div>
		</div>

		<!-- Stage -->
		<div class="col-md-4">
			<div class="icon-box-2">
				<i class="fas fa-location-arrow"></i>
				<h3>Travaillez entre pros, dans votre quartier</h3>
				<p>Les ravitailleurs sont des professionnels comme vous (boutiques, ateliers...) et comprennent vos besoins. Cela vous garantit un sourcing de qualité et une facturation simple.</p>
			</div>
		</div>
	</div>
</body>
</html>

