<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="jumbotron jumbotron-fluid" style="background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url(https://images.pexels.com/photos/1153369/pexels-photo-1153369.jpeg?cs=srgb&dl=a-l-interieur-adulte-aliments-content-1153369.jpg&fm=jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;">
  
    <div class="container ml-5 mt-5" >
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-6 mt-5">
          <h1 class="display-2 text-white"> <b>Vous êtes à deux clics de bien manger</b> </h1>
          <button type="button mt-2" class="btn btn-warning btn-lg text-center">Essayer maintenant !</button>
        </div>
        <div class="col-md-5"></div>
      </div>
    </div>
  </div>



  <div class="container">
    <div class="row icons-container text-center mb-5">
      <div class="col-md-4">
        <div class="incon-box-2 with-line">
          <h3 class="mb-2">Simplicité à toutes épreuves</h3>
          <i class="fas fa-lemon fa-2x fa-spin" style="color: yellow"></i>
          <p class="mt-3">Le but est simple : après avoir rentré quelques données essentielles pour le fonctionnement de l'application telles que votre poids, votre taille, votre activité physique et vos objectifs, Nutriti vous présentera une liste de course ainsi que des recettes pour chaque repas de la journée sur une semaine. :) </p>
        </div>


      </div>
      <div class="col-md-4">
        <div class="incon-box-2 with-line">
          <h3 class="mb-2">Prise en main de sa santé</h3>
          <i class="fas fa-carrot fa-2x fa-spin" style="color: orange"></i>
          <p class="mt-3"> Nutriti vous propse des recettes diètétiques crées et dosées en fonction des données que vous avez informées à l'inscription. Nutriti est basé sur la formule de Harris et Benedict permettant ainsi des vous présentez des plats vous faisant aimé le mot diet !</p>
        </div>
  
      </div>
      <div class="col-md-4">
        <div class="incon-box-2 with-line">
          <h3 class="mb-2">Fonctionnalité Prenium</h3>
          <i class="fas fa-pepper-hot fa-2x fa-spin" style="color: red"></i>
          <p class="mt-3"> Sous son aspect Prenium Nutriti vous propose de nouvelles fonctionnalités telles que la liste et préparation des recettes sur un mois, un version familliale pour les quantités des recttes et bien plus encore.. </p>
        </div>
      </div>
    </div>

    <div class="row text-center mt-5">
      <div class="col-12">
        <h3 class="mb-5 display-4"> Nutriti en quelques vues </h3>
      </div>
    </div>

    <div class="row">
      <div class="card-deck">
        <div class="card">
          <img src="https://images.pexels.com/photos/2168783/pexels-photo-2168783.jpeg?cs=srgb&dl=a-l-interieur-femme-fruits-interieur-2168783.jpg&fm=jpg" class="card-img-top" alt="Recettes">
          <div class="card-body text-center">
            <h5 class="card-title">Vos recettes</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <button type="button" class="btn btn-lg btn-warning" disabled>Voir</button>
            <%= link_to "M'inscrire", new_user_registration_path, class:"btn btn-outline-warning btn-lg" %>
          </div>
        </div>
        <div class="card shadow-lg">
          <img src="https://images.pexels.com/photos/416322/pexels-photo-416322.jpeg?cs=srgb&dl=argent-checklist-commerce-communication-416322.jpg&fm=jpg" class="card-img-top" alt="Liste de course">
          <div class="card-body text-center">
            <h5 class="card-title">Vos listes de courses</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <button type="button" class="btn btn-lg btn-warning" disabled>Voir</button>
            <%= link_to "M'inscrire", new_user_registration_path, class:"btn btn-outline-warning btn-lg" %>
          </div>
        </div>
        <div class="card text-center">
          <img src="https://images.pexels.com/photos/572056/pexels-photo-572056.jpeg?cs=srgb&dl=a-l-interieur-activites-affaires-afficher-572056.jpg&fm=jpg" class="card-img-top" alt="Progression">
          <div class="card-body">
            <h5 class="card-title">Votre progression</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <button type="button" class="btn btn-lg btn-warning" disabled>Voir</button>
            <%= link_to "M'inscrire", new_user_registration_path, class:"btn btn-outline-warning btn-lg" %>
          </div>
        </div>
      </div>
    </div>

  </div>

</body>
</html>

