<h1>Editer la recette</h1>

<div class="container">

<%= render 'form', admin_recipe: @admin_recipe %>

<%= link_to 'Voir la recette', admin_recipes_path, class:"btn btn-success" %> |
<%= link_to 'Retour', admin_recipes_path, class:"btn btn-primary" %>

</div>
