<h1 class="text-center my-2">Bienvenue sur le Dashboard Admin</h1>

<div>
<p><b>Nombre d'aliments de la table Ciqual référencés : <%= @foods.count %> </b></p>
<p><b>Nombre de recettes : <%= @recipes.count %> </b></p>
<p><b>Nombre d'utilisateurs' : <%= @users.count %> </b></p>

</div>