<%= form_with(model: users_week, local: true) do |form| %>
  <% if users_week.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(users_week.errors.count, "error") %> prohibited this users_week from being saved:</h2>

      <ul>
      <% users_week.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
