<div class="d-flex flex-row">
<div class="card" style="width: 18rem;">
  <div class="card-header">
    Lundi
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item text-light text-center bg-success"><b>Petit déjeuner</b></li>
    <ul class="list-group-item">    
      <li class="">Entrée</li>
      <li class="">Plat</li>
      <li class="">Dessert</li>
    </ul>
    <li class="list-group-item text-light text-center bg-success"><b>Déjeuner</b></li>
    <ul class="list-group-item">    
      <li class="">Entrée</li>
      <li class="">Plat</li>
      <li class="">Dessert</li>
    </ul>
    <li class="list-group-item text-light text-center bg-success"><b>Diner</b></li>
    <ul class="list-group-item">    
      <li class="">Entrée</li>
      <li class="">Plat</li>
      <li class="">Dessert</li>
    </ul>
  </ul>
</div>

<div class="card" style="width: 18rem;">
  <div class="card-header">
    Mardi
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item text-light text-center bg-success"><b>Petit déjeuner</b></li>
    <ul class="list-group-item">    
      <li class="">Entrée</li>
      <li class="">Plat</li>
      <li class="">Dessert</li>
    </ul>
    <li class="list-group-item text-light text-center bg-success"><b>Déjeuner</b></li>
    <ul class="list-group-item">    
      <li class="">Entrée</li>
      <li class="">Plat</li>
      <li class="">Dessert</li>
    </ul>
    <li class="list-group-item text-light text-center bg-success"><b>Diner</b></li>
    <ul class="list-group-item">    
      <li class="">Entrée</li>
      <li class="">Plat</li>
      <li class="">Dessert</li>
    </ul>
  </ul>
</div>

<div class="card" style="width: 18rem;">
  <div class="card-header">
    Mercredi
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item text-light text-center bg-success"><b>Petit déjeuner</b></li>
    <ul class="list-group-item">    
      <li class="">Entrée</li>
      <li class="">Plat</li>
      <li class="">Dessert</li>
    </ul>
    <li class="list-group-item text-light text-center bg-success"><b>Déjeuner</b></li>
    <ul class="list-group-item">    
      <li class="">Entrée</li>
      <li class="">Plat</li>
      <li class="">Dessert</li>
    </ul>
    <li class="list-group-item text-light text-center bg-success"><b>Diner</b></li>
    <ul class="list-group-item">    
      <li class="">Entrée</li>
      <li class="">Plat</li>
      <li class="">Dessert</li>
    </ul>
  </ul>
</div>

<div class="card" style="width: 18rem;">
  <div class="card-header">
    Jeudi
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item text-light text-center bg-success"><b>Petit déjeuner</b></li>
        <ul class="list-group-item">    
      <li class="">Entrée</li>
      <li class="">Plat</li>
      <li class="">Dessert</li>
    </ul>
    <li class="list-group-item text-light text-center bg-success"><b>Déjeuner</b></li>
    <ul class="list-group-item">    
      <li class="">Entrée</li>
      <li class="">Plat</li>
      <li class="">Dessert</li>
    </ul>
    <li class="list-group-item text-light text-center bg-success"><b>Diner</b></li>
    <ul class="list-group-item">    
      <li class="">Entrée</li>
      <li class="">Plat</li>
      <li class="">Dessert</li>
    </ul>
  </ul>
</div>

<div class="card" style="width: 18rem;">
  <div class="card-header">
    Vendredi
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item text-light text-center bg-success"><b>Petit déjeuner</b></li>
    <ul class="list-group-item">    
      <li class="">Entrée</li>
      <li class="">Plat</li>
      <li class="">Dessert</li>
    </ul>
    <li class="list-group-item text-light text-center bg-success"><b>Déjeuner</b></li>
    <ul class="list-group-item">    
      <li class="">Entrée</li>
      <li class="">Plat</li>
      <li class="">Dessert</li>
    </ul>
    <li class="list-group-item text-light text-center bg-success"><b>Diner</b></li>
    <ul class="list-group-item">    
      <li class="">Entrée</li>
      <li class="">Plat</li>
      <li class="">Dessert</li>
    </ul>
  </ul>
</div>

<div class="card" style="width: 18rem;">
  <div class="card-header">
    Samedi
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item text-light text-center bg-success"><b>Petit déjeuner</b></li>
    <ul class="list-group-item">    
      <li class="">Entrée</li>
      <li class="">Plat</li>
      <li class="">Dessert</li>
    </ul>
    <li class="list-group-item text-light text-center bg-success"><b>Déjeuner</b></li>
    <ul class="list-group-item">    
      <li class="">Entrée</li>
      <li class="">Plat</li>
      <li class="">Dessert</li>
    </ul>
    <li class="list-group-item text-light text-center bg-success"><b>Diner</b></li>
    <ul class="list-group-item">    
      <li class="">Entrée</li>
      <li class="">Plat</li>
      <li class="">Dessert</li>
    </ul>
  </ul>
</div>

<div class="card" style="width: 18rem;">
  <div class="card-header">
    Dimanche
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item text-light text-center bg-success"><b>Petit déjeuner</b></li>
    <ul class="list-group-item">    
      <li class="">Entrée</li>
      <li class="">Plat</li>
      <li class="">Dessert</li>
    </ul>
    <li class="list-group-item text-light text-center bg-success"><b>Déjeuner</b></li>
    <ul class="list-group-item">    
      <li class="">Entrée</li>
      <li class="">Plat</li>
      <li class="">Dessert</li>
    </ul>
    <li class="list-group-item text-light text-center bg-success"><b>Diner</b></li>
    <ul class="list-group-item">    
      <li class="">Entrée</li>
      <li class="">Plat</li>
      <li class="">Dessert</li>
    </ul>
  </ul>
</div>
</div>


