.jumbotron{
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url("home.jpg");
    background-position: center;    
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.fa-lemon{
    color: yellow
}

.fa-carrot{
    color: orange;
}

.fa-pepper-hot{
    color: red;
}

.no_dot_ul {
    list-style-type: none;
}

footer{
    background-image: url();
    background-position: bottom;    
    background-repeat: no-repeat;
    background-size: cover;
}

.size-li-planning {
    min-height: 18vh;
}

.col-md-12 {
  position: relative;
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
}