.sidebar-wrapper{
  width: 100vw;
  height: 100%;
  z-index: 6000;
  position: fixed;

}

.sidenav{
  float: left;
  width: 35vw; 
  background-color: white; 
  height: 100%;
}


.blur{
  float: right;
  width: 65vw; 
  background-color: black; 
  height: 100%;
  opacity: 0.50;
  animation-duration: 0.25s;
  animation-name: blurein;
}

.scrollable{
  overflow-y: scroll;
}

.sidenav {
  animation-duration: 0.50s;
  animation-name: slidein;
}



.right-nav{
  height: 100vh;
  width: 15vw;
  float: right;
  z-index: 9999;
  position: relative;
  pointer-events:auto;

}

.container-right{
  width: 100vw;
  height: 100%;
  z-index: 999;
  position: fixed;
  display: none;
}
.bg-nav{
  background-color: #1d1919;
}

footer{
  z-index: 500;
}

.side-btn{
  box-shadow: none;
}
.side-btn:focus{
  box-shadow: none;
}
.side-btn:hover{
  box-shadow: none;
}

.side-blur{
  float: left;
  width: 85vw; 
  background-color: gray; 
  height: 100%;
  opacity: 0.50;

}


@keyframes right-slidein {
  from {
    float: right;
    width: 0vh; 
  }

  to {
    float: right;
    width: 300px;
  }
}

@keyframes slidein {
  from {
    background-color:grey;
    opacity: 0;
    width: 0vh; 
  }

  to {
    background-color:white;
    opacity: 1;
    width: 35%;
  }
}

@keyframes blurein {
  from {
    opacity: 0;
    width: 0vh; 
  }

  to {
    opacity: 0.5;
    width: 65%;
  }
}

@keyframes side-blurein {
  from {
    opacity: 0;
    width: 100%;
  }

  to {
    opacity: 0.5;
    width: 100%;

  }
}