.sidebar-wrapper{
  width: 100vw;
  height: 100%;
  z-index: 9999;
  position: fixed;

}

.sidenav{
  float: left;
  width: 35vw; 
  background-color: white; 
  height: 100%;
}


.blur{
  float: right;
  width: 65vw; 
  background-color: black; 
  height: 100%;
  opacity: 0.50;
  animation-duration: 0.25s;
  animation-name: blurein;
}

.scrollable{
  overflow-y: scroll;
}

.sidenav {
  animation-duration: 0.50s;
  animation-name: slidein;
}



.right-nav{
  height: 100vh;
  animation-duration: 2s;
  animation-name: right-slidein;
}

.bg-nav{
  background-color: #1d1919;
}

@keyframes right-slidein {
  from {
    opacity: 0;
    width: 0vh; 
  }

  to {
    opacity: 1;
    width: 310px;
  }
}

@keyframes slidein {
  from {
    background-color:grey;
    opacity: 0;
    width: 0vh; 
  }

  to {
    background-color:white;
    opacity: 1;
    width: 35%;
  }
}

@keyframes blurein {
  from {
    opacity: 0;
    width: 0vh; 
  }

  to {
    opacity: 0.5;
    width: 65%;
  }
}